<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.hrb.zhzw.dao.OrgDao" >
	<sql id="clo">
		org_id AS id,
		org_name AS name,
		org_code AS code,
		org_address AS address,
		org_legal AS legal,
		org_phone AS phone
	</sql>
	<insert id="add" parameterType="Org">
		insert into org values(#{id},#{code},#{name},#{address},#{legal},#{phone})
	</insert>
	<delete id="delete">
		delete from org where org_id = #{id}
	</delete>
	<update id="update">
		update org set org_code = #{code}, org_name = #{name}, org_address=#{address}, org_legal=#{legal},org_phone=#{phone} where org_id = #{id}
	</update>
	<select  id="findAll" resultType="Org">
		select <include refid="clo"/> from  org
	</select>
	<select  id="findByCodeOrName" resultType="Org">
		select <include refid="clo"/> from  org where org_code = #{code} or org_name = #{name}
	</select>
</mapper>
