<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.hrb.zhzw.dao.UserDao" >
	<sql id="clo">
		u.u_id AS id,
		u.u_name AS name,
		u.u_password AS password
	</sql>
	<insert id="add" parameterType="com.oracle.hrb.zhzw.bean.User">
		insert into demo_user(u_name,u_password) values(#{name},#{password})
	</insert>
	<select  id="findAll" resultType="com.oracle.hrb.zhzw.bean.User">
		select <include refid="clo"/> from  demo_user u
	</select>
</mapper>
